package ${DaoPackageName};
import org.springframework.stereotype.Repository;

/**

@author Robot.Xue  on ${Now}
*/
@Repository
public class ${Table.getEntityClassName()}Dao extends Abstract${Table.getEntityClassName()}Dao{

}