package ${DaoPackageName};

import java.util.List;
import ${EntityPackageName}.${Table.getEntityClassName()};

/**


@author Robot.Xue
@date ${Now}
*/
#set($counter = 0)
public class ${Table.getEntityClassName()}Dao{
    private static final String sql_insert = "insert into ${Table.getName()} (#foreach($field in ${Table.getFields()})#if(${field.getIsAutoIncrement()}==true)#else#if($counter>0),#end${field.getTableFieldName()}#set($counter=$counter+1)#end#end)values(#set($counter = 0)#foreach($field in ${Table.getFields()})#if(${field.getIsAutoIncrement()}==true)#else#if($counter>0),#end?#set($counter=$counter+1)#end#end)";
    public void insert(${Table.getEntityClassName()}  entity){
        
    }

    private static final String sql_update="";
    public int update(${Table.getEntityClassName()} entity)

    }

    private static final String sql_delete="";
    public int delete(){

    }

    private static final String sql_get${Table.getEntityClassName()} ="";
    public ${Table.getEntityClassName()} get${Table.getEntityClassName()}(){

    }
}