package ${ServicePackageName};
import java.util.List;
import ${EntityPackageName}.${Table.getEntityClassName()};
/**


@author Robot.Xue on ${Now}
*/
#set($counter = 0)
public interface ${Table.getEntityClassName()}Service{

    public void insert(${Table.getEntityClassName()}  entity);

    public int update(${Table.getEntityClassName()} entity);

    public int delete(#set($counter=0)#foreach($field in ${Table.getPrimaryKey().getKey()}) #if($counter>0),#end ${field.getJavaDataType()} ${field.getEntityFieldName()} #set($counter=$counter+1)#end);

    public ${Table.getEntityClassName()} get${Table.getEntityClassName()}(#set($counter=0)#foreach($field in ${Table.getPrimaryKey().getKey()}) #if($counter>0),#end ${field.getJavaDataType()} ${field.getEntityFieldName()} #set($counter=$counter+1)#end);

    public List<${Table.getEntityClassName()}> query(SqlBuilder builder);
}