package ${ServicePackageName}.impl;
import java.util.List;
import javax.annotation.Resource;
import ${EntityPackageName}.${Table.getEntityClassName()};
import ${DaoPackageName}.${Table.getEntityClassName()}Dao;
import ${ServicePackageName}.${Table.getEntityClassName()}Service;
import ${DaoPackageName}.SqlBuilder.MySqlBuilder;
import org.springframework.stereotype.Service;
/**


@author Robot.Xue on ${Now}
*/
#set($counter = 0)
    @Service
    public class ${Table.getEntityClassName()}ServiceImpl implements ${Table.getEntityClassName()}Service{
    @Resource
    private $Table.getEntityClassName()Dao ${dao};
    @Override
    public void insert(${Table.getEntityClassName()}  entity){
        this.${dao}.insert(entity);
    }
    @Override
    public int update(${Table.getEntityClassName()} entity){
        return this.${dao}.update(entity);
    }
    @Override
    public int delete(#set($counter=0)#foreach($field in ${Table.getPrimaryKey().getKey()}) #if($counter>0),#end ${field.getJavaDataType()} ${field.getEntityFieldName()} #set($counter=$counter+1)#end){
        return this.${dao}.delete(#set($counter=0)#foreach($field in ${Table.getPrimaryKey().getKey()}) #if($counter>0),#end $field.getEntityFieldName() #set($counter=$counter+1)#end);
    }
    @Override
    public ${Table.getEntityClassName()} get${Table.getEntityClassName()}(#set($counter=0)#foreach($field in ${Table.getPrimaryKey().getKey()}) #if($counter>0),#end ${field.getJavaDataType()} ${field.getEntityFieldName()} #set($counter=$counter+1)#end){
        return this.${dao}.query(#set($counter=0)#foreach($field in $Table.getPrimaryKey().getKey()) #if($counter>0),#end $field.getEntityFieldName() #set($counter=$counter+1)#end);
    }
    @Override
    public List<${Table.getEntityClassName()}> query(SqlBuilder builder){
        return this.${dao}.query(builder);
    }
}